<h1>Please create a new User</h1>

<form action="<%= users_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="email">Your email address</label>
  <input
    type ="text"
    name="user[email]"
    id="email"
    value= "<%= @user.email %>">

  <label for="password">Your password</label>
  <input
    type="password"
    name="user[password]"
    id="password">


  <input type="submit" value="Creat New User">
</form>
